:root {
  --color: #dc7027;
  --font-family: Lato, sans-serif;
  --color-white: #ffffff;
  --color-black: #000000d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
}

input,
button {
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: none;
  outline: none;
}

.img-wrap {
  position: relative;
  height: auto;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
}

.img-wrap img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  transform: translateZ(0);
  margin: 0 auto;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  object-position: 50% 50%;
  object-fit: cover;
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--color-white);
  color: var(--color-black);
}

@media all and (min-width: 1280px) {
  #main {
    display: flex;
  }
}

.container {
  padding: 0rem 1.6rem;
  flex: 1;
  display: none;
  flex-direction: column;
}

@media all and (min-width: 768px) {
  .container {
    padding: 0rem 4rem;
  }
}

.container.active {
  display: flex !important;
}

.content {
  height: 100vh;
  overflow: auto;
  max-height: 100vh;
}

@media all and (min-width: 1024px) {
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.text-gray {
  color: gray !important;
}

.text-main {
  color: var(--color) !important;
}

.hidden {
  display: none !important;
}

.hidden-space {
  visibility: hidden;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content i {
  margin-top: -20rem;
  animation: rotate360 2s infinite linear;
  font-size: 5rem;
  cursor: pointer;
  color: var(--color);
}

.container__album {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media all and (min-width: 450px) {
  .container__album {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 640px) {
  .container__album {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1024px) {
  .container__album {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1280px) {
  .container__album {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1500px) {
  .container__album {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.header {
  padding: 1.6rem;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (min-width: 1024px) {
  .header {
    padding: 1.6rem 4rem;
  }
}

@media all and (max-width: 1280px) {
  .header {
    position: sticky;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 0;
    left: 0;
  }
}

.header__mobile {
  display: none;
  font-size: 3.2rem;
  padding-right: 1.6rem;
  cursor: pointer;
  color: var(--color);
}

@media all and (max-width: 1280px) {
  .header__mobile {
    display: block;
  }
}

@media all and (min-width: 1024px) {
  .header__mobile {
    padding-right: 5rem;
  }
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 1rem;
  color: gray;
}

.header__search i {
  font-size: 1.8rem;
}

.header__search input {
  flex: 1;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

@media all and (min-width: 1024px) {
  .header__right {
    margin-right: -2rem;
  }
}

.header__right > li {
  cursor: pointer;
  font-size: 2rem;
  position: relative;
}

.header__right > li:hover {
  color: var(--color);
}

.header__right > li > span {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100rem;
  background-color: red;
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
}

.header__right > li:last-child {
  display: none;
  background-color: var(--color);
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0.8rem 2rem;
  border: 0.1rem solid var(--color);
  border-radius: 100rem;
  transition: all 1s;
}

@media all and (min-width: 768px) {
  .header__right > li:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__right > li:last-child:hover {
  background-color: var(--color-white);
  color: var(--color);
}

.popover__color {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1rem;
  border-radius: 0.8rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 20rem;
  margin-top: 2rem;
  background-color: var(--color-white);
}

@media all and (min-width: 768px) {
  .popover__color {
    left: -10rem;
  }
}

.popover__color > ul {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.popover__color > ul > li {
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  cursor: pointer;
  transform: scale(0.7);
  transition: all 0.4s;
}

.popover__color > ul > li.default {
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  font-weight: bold;
}

.popover__color > ul > li.active {
  transform: scale(1);
}

.popover__color > ul > li.red {
  background-color: red;
}

.popover__color > ul > li.green {
  background-color: green;
}

.popover__color > ul > li.brown {
  background-color: brown;
}

.popover__color > ul > li.pink {
  background-color: pink;
}

.popover__color > ul > li.blue {
  background-color: blue;
}

.popover__color > ul > li.yellow {
  background-color: yellow;
}

.popover__color > ul > li.black {
  background-color: black;
}

.popover__color > ul > li.aquamarine {
  background-color: aquamarine;
}

.popover__color > ul > li.blueviolet {
  background-color: blueviolet;
}

.button-change-color.active .popover__color {
  display: block;
}

.sidebar {
  background-color: var(--color-white);
  padding: 2rem 5rem;
}

@media all and (max-width: 1280px) {
  .sidebar {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
  }
  .sidebar.active {
    transform: translateX(0);
  }
}

.sidebar.transition {
  transition: all 0.6s;
}

@media all and (max-width: 1280px) {
  .sidebar__overlay.active {
    visibility: visible !important;
    z-index: 10 !important;
    opacity: 1 !important;
  }
}

.sidebar__overlay {
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@media all and (min-width: 1280px) {
  .sidebar {
    width: max-content;
  }
}

.sidebar__top {
  text-align: center;
}

.sidebar__top > div {
  cursor: pointer;
  margin: 2rem auto;
  width: 8rem;
  height: 8rem;
  border-radius: 100rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.sidebar__top > div > img {
  border-radius: 100rem;
}

.sidebar__top > div > span {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 100rem;
  padding: 0.2rem 0.5rem;
  color: var(--color-white);
  background-color: red;
}

.sidebar__top > p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-black);
  opacity: 0.8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0.5rem 0rem;
}

.sidebar__top > span {
  font-size: 1.3rem;
  display: block;
  color: gray;
}

.sidebar__catelog--title {
  margin: 1.5rem 0rem;
  font-weight: 500;
  color: #7e7c7c;
}

.sidebar__catelog > ul {
  margin: 4rem 0rem;
}

.sidebar__catelog--item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  gap: 1.5rem;
  padding: 1rem 0rem;
  font-weight: 600;
}

.sidebar__catelog--item:hover, .sidebar__catelog--item.active {
  color: var(--color);
}

.sidebar__catelog--item > i {
  font-size: 2rem;
}

.sidebar__catelog--item > span {
  font-size: 1.6rem;
  line-height: 2rem;
}

.sidebar__catelog > .sidebar__catelog--item.active {
  color: var(--color);
}

.box__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 0rem;
}

.box__title > p > span {
  display: block;
  line-height: 2.4rem;
}

.box__title > p > span:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
}

.box__button {
  transition: all 0.5s;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  cursor: pointer;
  border: 0.1rem solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box__button--container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.box__button:hover {
  background-color: var(--color);
  color: var(--color-white);
  border-color: var(--color);
}

.box__container {
  overflow: hidden;
  width: 100%;
}

.box__wrapper {
  transform: translateX(0);
  display: flex;
  margin: 0rem -2rem;
}

.box__wrapper.transition {
  transition: transform 0.5s;
}

.box__item {
  width: 100%;
  padding: 0rem 2rem;
  flex-shrink: 0;
  cursor: pointer;
}

@media all and (min-width: 450px) {
  .box__item {
    width: 50%;
  }
}

@media all and (min-width: 640px) {
  .box__item {
    width: calc(100% / 3);
  }
}

@media all and (min-width: 768px) {
  .box__item {
    width: 25%;
  }
}

@media all and (min-width: 1500px) {
  .box__item {
    width: calc(100% / 6);
  }
}

.box__item--child {
  cursor: pointer;
}

.box__item--image {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding-top: 100%;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.box__item--image img {
  transition: all 1s;
}

.box__item--image:hover img {
  transform: scale(1.1);
}

.box__item--title {
  font-weight: 600;
  margin: 1rem 0rem;
  transition: all 0.5s;
}

.box__item--title:hover {
  color: var(--color);
}

.box__item--desc {
  color: gray;
  font-size: 1.2rem;
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;
}

@media all and (min-width: 1024px) {
  .footer {
    flex-direction: row;
  }
}

.footer__left {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1024px) {
  .footer__left {
    width: 66%;
    padding-right: 3rem;
  }
}

@media all and (max-width: 1024px) {
  .footer__left {
    margin-bottom: 5rem;
  }
}

.footer__left > div:nth-child(2) {
  flex: 1;
}

.footer__left > div:nth-child(2) > table {
  width: 100%;
  border: none;
  height: 45rem;
  max-height: 100%;
  border-spacing: 0;
}

@media all and (min-width: 1024px) {
  .footer__left > div:nth-child(2) > table {
    height: 100%;
  }
}

.footer__left > div:nth-child(2) > table tbody {
  width: 100%;
  max-height: 100%;
  height: 100%;
  display: block;
  overflow-y: auto;
}

.footer__left > div:nth-child(2) > table tr {
  margin-bottom: 0.8rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer__left > div:nth-child(2) > table tr td {
  padding: 1.2rem 0.8rem;
}

@media all and (min-width: 1024px) {
  .footer__left > div:nth-child(2) > table tr td {
    padding: 1.2rem 2rem;
  }
}

.footer__left > div:nth-child(2) > table tr td:nth-child(2) {
  flex: 1;
}

.footer__left > div:nth-child(2) > table tr:hover, .footer__left > div:nth-child(2) > table tr.active {
  background-color: rgba(128, 128, 128, 0.2);
}

.footer__left--item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer__left--item img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.4rem;
  object-fit: cover;
}

.footer__left--item > i {
  font-size: 2.8rem;
  color: gray;
}

@media all and (min-width: 768px) {
  .footer__left--item > div {
    display: flex;
  }
}

.footer__left--item > div > p {
  font-weight: 600;
  margin-right: 3rem;
}

.footer__left--item > div > p:hover {
  color: var(--color);
}

.footer__left--item > div > span {
  font-size: 1.3rem;
  color: gray;
}

.footer__right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__right--main {
  padding-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.audio__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.audio__top > div {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.audio__top > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  animation: rotate360 20s infinite linear;
}

.audio__top > div > div {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
}

.audio__top > p:nth-child(2) {
  font-weight: 600;
  line-height: 3rem;
  margin-top: 1rem;
}

.audio__top > p:nth-child(3) {
  font-size: 1.3rem;
  color: gray;
}

.audio__time {
  cursor: pointer;
  color: gray;
  width: 75%;
  margin: 2rem auto 1rem auto;
  position: relative;
  height: 0.5rem;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 100rem;
}

.audio__time--dot {
  background-color: var(--color-white);
  width: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 1.8rem;
  border-radius: 100rem;
  position: absolute;
  cursor: pointer;
}

.audio__time--dot::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100rem;
  background-color: var(--color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio__time--duration {
  font-size: 1.4rem;
  cursor: pointer;
}

.audio__time--current {
  font-size: 1.4rem;
}

.audio__time--wrapper {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control {
  flex: 1;
  padding: 2rem 0rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.control > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.control > ul > li {
  color: gray;
  cursor: pointer;
  font-size: 2.8rem;
}

.control > ul > li.active {
  color: var(--color);
}
/*# sourceMappingURL=app.css.map */