.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
}

.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}

#main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--color-white);
    color: var(--color-black);
    @include min-xl {
        display: flex;
    }
}

.container {
    padding: 0rem 1.6rem;
    @include min-md {
        padding: 0rem 4rem;
    }
    flex: 1;
    display: none;
    flex-direction: column;
}

.container.active {
    display: flex !important;
}

.content {
    height: 100vh;
    overflow: auto;
    max-height: 100vh;
    @include min-lg {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.text-gray {
    color: gray !important;
}

.text-main {
    color: var(--color) !important;
}

.hidden {
    display: none !important;
}

.hidden-space {
    visibility: hidden;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-content {
    flex: 1;
    @include flexJustifyAlign(center, center);
    & i {
        margin-top: -20rem;
        animation: rotate360 2s infinite linear;
        font-size: 5rem;
        cursor: pointer;
        color: var(--color);
    }
}

.container__album {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    @include min-ss(450px) {
        grid-template-columns: 1fr 1fr;
    }
    @include min-sm {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include min-lg {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include min-xl {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    @include min-ss(1500px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
