.sidebar {
    background-color: var(--color-white);
    @include max-lg {
        position: fixed;
        z-index: 11;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
        &.active {
            transform: translateX(0);
        }
    }
    &.transition {
        transition: all 0.6s;
    }
    @include max-lg {
        &__overlay.active {
            visibility: visible !important;
            z-index: 10 !important;
            opacity: 1 !important;
        }
    }
    &__overlay {
        transition: all 0.4s;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    padding: 2rem 5rem;
    @include min-lg {
        width: 40rem;
    }
    &__top {
        text-align: center;
        & > div {
            cursor: pointer;
            margin: 2rem auto;
            width: 8rem;
            height: 8rem;
            border-radius: 100rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            & > img {
                border-radius: 100rem;
            }
            position: relative;
            & > span {
                position: absolute;
                top: -0.5rem;
                right: -0.5rem;
                font-size: 0.9rem;
                font-weight: 600;
                border-radius: 100rem;
                padding: 0.2rem 0.5rem;
                color: var(--color-white);
                background-color: red;
            }
        }
        & > p {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--color-black);
            opacity: 0.8;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0.5rem 0rem;
        }
        & > span {
            font-size: 1.3rem;
            display: block;
            color: gray;
        }
    }
    &__catelog {
        &--title {
            margin: 1.5rem 0rem;
            font-weight: 500;
            color: rgb(126, 124, 124);
        }
        & > ul {
            margin: 4rem 0rem;
        }
        &--item {
            @include flexJustifyAlign(flex-start, center);
            cursor: pointer;
            gap: 1.5rem;
            padding: 1rem 0rem;
            &:hover {
                color: var(--color);
            }
            & > i {
                font-size: 2rem;
            }
            & > span {
                font-size: 1.6rem;
                line-height: 2rem;
            }
            font-weight: 600;
        }

        & > &--item.active {
            color: var(--color);
        }
    }
}
