:root {
    --background-color-container : rgb(76, 139, 76);
    --background-color-button : #f47c52;    
    --background-color-content : white;
    --color-main : #535861;
    --color-second : #535861;
    --color-third : #9a9ea6;
}  
