<div class="box__title">
    <p>ARTIST</p>
</div>
<div class="container__album">
    <div class="box__item--list">
        <div class="box__item--image img-wrap">
            <img src="https://media.2dep.vn/resize_560x699/upload/thutra/2022/04/28/tu-a-den-z-ve-theres-no-one-at-all-cua-son-tung-m-tp-loi-bai-hat-va-cau-chuyen-trong-mv-1651160431-4.jpeg"
                alt="">
        </div>
        <p class="box__item--title">
            There's no one at all
        </p>
        <p class="box__item--desc">
            SonTung MTP
        </p>
    </div>
</div>