<div class="header__mobile">
    <i class="bx bx-menu"></i>
</div>
<div class="header__search">
    <i class="bx bx-search"></i>
    <input type="text" placeholder="Search name music, artist,...">
</div>
<ul class="header__right">
    <li>
        <i class='bx bx-bell'></i>
        <span></span>
    </li>
    <li class="button-change-color">
        <i class='bx bx-slider-alt'></i>
        <span></span>
        <div class="popover__color">
            <ul>
                <li class="default bx bx-x active" data-color="#dc7027"></li>
                <li class="red" data-color="red"></li>
                <li class="brown" data-color="brown"></li>
                <li class="pink" data-color="pink"></li>
                <li class="green" data-color="green"></li>
                <li class="blue" data-color="blue"></li>
                <li class="yellow" data-color="yellow"></li>
                <li class="blueviolet" data-color="blueviolet"></li>
                <li class="aquamarine" data-color="aquamarine"></li>
                <li class="black" data-color="black"></li>
            </ul>
        </div>
    </li>
    <li>
        Upgrate Plan
    </li>
</ul>