<div class="">
    <div class="box__container">
        <div class="box__title">
            <p>TOP ARTIST</p>
            <ul class="box__button--container">
                <li class="bx bx-chevron-left box__button box__button--left"></li>
                <li class="bx bx-chevron-right box__button box__button--right"></li>
            </ul>
        </div>
        <div class="box__wrapper transition">
            <div class="box__item hidden-space">
                <div class="box__item--image img-wrap">
                    <img src="https://media.2dep.vn/resize_560x699/upload/thutra/2022/04/28/tu-a-den-z-ve-theres-no-one-at-all-cua-son-tung-m-tp-loi-bai-hat-va-cau-chuyen-trong-mv-1651160431-4.jpeg"
                        alt="">
                </div>
                <p class="box__item--title">
                    There's no one at all
                </p>
                <p class="box__item--desc">
                    SonTung MTP
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer__left">
        <div class="box__title">
            <p>
                <span>TOP SONGS</span>
                <span class="number-song">92 Songs</span>
            </p>
        </div>
        <div class="list-music">
            <table>
                <tr>
                    <td class="text-gray">1</td>
                    <td>
                        <div class="footer__left--item">
                            <img src="https://media.2dep.vn/resize_560x699/upload/thutra/2022/04/28/tu-a-den-z-ve-theres-no-one-at-all-cua-son-tung-m-tp-loi-bai-hat-va-cau-chuyen-trong-mv-1651160431-4.jpeg"
                                alt="" srcset="">
                            <i class="bx bx-play"></i>
                            <div>
                                <p>There's no one at all</p>
                                <span>SonTung MTP</span>
                            </div>
                        </div>
                    </td>
                    <td>03:02</td>
                    <td><i class="bx bxs-heart text-gray"></i></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer__right">
        <div class="box__title">
            <p>
                <span>NOW PLAYING</span>
                <span>55 items on the list</span>
            </p>
        </div>
        <div class="footer__right--main">
            <div class="audio__top">
                <div>
                    <img class="image-audio"
                        src="https://media.2dep.vn/resize_560x699/upload/thutra/2022/04/28/tu-a-den-z-ve-theres-no-one-at-all-cua-son-tung-m-tp-loi-bai-hat-va-cau-chuyen-trong-mv-1651160431-4.jpeg"
                        alt="" srcset="">
                    <div style="background-image: url(../images/output-onlinegiftools.gif);">

                    </div>
                </div>
                <p class="name-audio">There's no one at all</p>
                <p class="artist-audio">SonTung MTP</p>
            </div>
            <div class="audio__time">
                <div class="audio__time--dot" style="left: 25%"></div>
            </div>
            <div class="audio__time--wrapper">
                <span class="audio__time--current">01:00</span>
                <span class="audio__time--duration">-04:00</span>
            </div>
            <div class="control">
                <ul>
                    <li class="button-loop-random">
                        <i class='bx bx-shuffle'></i>
                    </li>
                    <li class="button-left">
                        <i class='bx bx-rewind'></i>
                    </li>
                    <li class="active button-play play">
                        <i class='bx bx-play'></i>
                    </li>
                    <li class="button-right">
                        <i class='bx bx-fast-forward'></i>
                    </li>
                    <li class="button-loop-index">
                        <i class='bx bx-sync'></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>