<div class="sidebar__top">
    <div>
        <img src="https://res.cloudinary.com/ensonet-dev/image/upload/v1644752772/Avatars/1644752768557.jpg"
            alt="" srcset="">
        <span>NEW!</span>
    </div>
    <p>TraTanHuong</p>
    <span>huongdev@gmail.com</span>
</div>
<div class="sidebar__catelog">
    <ul>
        <li class="sidebar__catelog--title">CATELOG</li>
        <li class="sidebar__catelog--item" data-path="">
            <i class="bx bx-home"></i>
            <span>Home</span>
        </li>
        <li class="sidebar__catelog--item" data-path="album">
            <i class="bx bx-album"></i>
            <span>Album</span>
        </li>
        <li class="sidebar__catelog--item" data-path="wishlist">
            <i class="bx bx-heart"></i>
            <span>WishList</span>
        </li>
        <li class="sidebar__catelog--item" data-path="artist">
            <i class='bx bx-user-voice'></i>
            <span>Artist</span>
        </li>
        <li class="sidebar__catelog--item" data-path="videos">
            <i class="bx bx-video"></i>
            <span>Videos</span>
        </li>
        <li class="sidebar__catelog--title">MY MUSIC</li>
        <li class="sidebar__catelog--item" data-path="currently">
            <i class='bx bxs-playlist'></i>
            <span>Currently Played</span>
        </li>
        <li class="sidebar__catelog--item" data-path="localy">
            <i class='bx bx-folder-open'></i>
            <span>Localy</span>
        </li>
    </ul>
</div>